.gradle/
build/
.gradle
/local.properties
*.apk
*.apks
*.aab
*.jks
*.keystore
google-services.json
.env
.env.*
!.env.example
*.log
.idea/
**/build/
**/local.properties
captures/
.externalNativeBuild/
.cxx/
*/dist/
node_modules/
package-lock.json
